<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /rent_car/

    # Jika request file atau folder yang ada di "assets", langsung load tanpa lewat CI
    RewriteCond %{REQUEST_URI} ^/rent_car/assets/ [NC]
    RewriteRule ^(.*)$ - [L]
    RewriteCond %{REQUEST_URI} ^assets/
    RewriteRule ^ - [L]


    # Selain itu, arahkan ke index.php (CodeIgniter)
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>
